/**body { font-family:Verdana; font-size:14px; margin:0; line-height:150%;}

#container {margin:0 auto; width:900px;}
#header { height:100px; background:#6cf; margin-bottom:5px;}
#menu { height:30px; background:#09c; margin-bottom:5px;}
#mainContent { background:url(../images/bg.gif) 0 0 repeat-y; overflow:auto;zoom:1; margin-bottom:5px;}
#sidebar { float:left; width:200px; background:#9ff;}
#content { float:right; width:675px; padding:10px; background:#cff;}
#footer { height:60px; background:#6cf;}
.clearfloat { clear:both; height:0; font-size: 1px; line-height: 0px;}*/