table{
	border:1px solid;
	border-collapse:collapse;
}
td{
	border:1px solid #429fff;
}
th{
	border:1px solid #429fff;
	background-color:#f0f7ff;
}
.altrow{
	background-color:#c4e4ff;	/* ¶¯Ì¬±äÉ« */
}
