/*CSS IE6和IE7 两个div嵌套，里面的div默认居中，而IE8默认居右,需要在父div里显示的规定居中还是居左*/
.body_bg {
	background-color: #5e96c5;
	background-image: url(../images/images/bg.gif);
	background-position: left top;
	text-align: center;
	background-repeat: no-repeat;
}

.login_bg {
	background-image: url(../images/login_bg.png);
	opacity: 0.7;
	background-repeat: no-repeat;
	height: 315px;
	width: 545px;
	margin: 0 auto ;
	position: absolute;
	left: 50%;
	top: 40%;
	margin-left: -272px;
	margin-top: -157px;
	text-align: left;
}

.login_form {
	width: 480px;
	height: 120px;
	margin-top: 125px;
	margin-left:100px;
}
.login_form div {
	width: 400px;
	margin-top: 5px;
	text-align: left;
}

.login_form div span{
	font-family: Verdana, Arial, Helvetica, sans-serif, "宋体";
	height: 28px;
	font-size: 12px;
}

.login_form div span input{
	width: 180px;
	font-family: Verdana, Arial, Helvetica, sans-serif, "宋体";
	height: 18px;
}

.login_form div span .yzmimg {
	margin-left:0px;
	cursor: pointer;
	width:68px; 
	height:22px;
}

.login_form div span img{
	margin-left:52px;
}

.login_form div span span{
	background-image: url(../images/tipicon.png);
	background-repeat: no-repeat;
}
.errormsg {
	background-position: 0 9%;
	padding-left:20px;
	margin-left: 10px;
	font-size: 12px;
	color: red;
}
.rightmsg {
	background-position: 0 18%;
	padding-left:20px;
	margin-left: 10px;
	font-size: 12px;
}
.login_form div span .input_yzm {
	width: 106px;
	font-family: Verdana, Arial, Helvetica, sans-serif, "宋体";
	height: 18px;
	font-size: 12px;
}

input,img {
	vertical-align: middle;
}
