html, body {
  height: 100%; 
  width: 100%;
}

.tundra .bafDijitStatus {
  padding: 3px 0 1px 3px; 
  border-top: 1px solid #ccc;
  background:#eaeaea url("../dojo/dijit/themes/tundra/images/titleBar.png") repeat-x top left;
}

.tundra .bafDijitStatus .bafDijitStatusStaticPane {
  display:block;
  margin-left: 0.5em;
  padding: 0.2em;
  padding-left: 0.5em;
  border-left: 2px solid #ccc;
  height: 1em;
}

.bafDijitStaticText p {
  margin:0;
  border:0;
  padding:0;
  opacity: 1.0;
}

.bafDijitStaticText.s1 {
  background-color: #D0D0D0;
  border: 1px solid black;
  margin: 1em;
}

.bafDijitStaticText.s1 p {
  margin-top: -.8em;
  margin-left: .5em;
  background-color: #D0D0D0;
}

.bafDijitPair.bafDijitPairMajor p {
  margin:0;
  border:0;
  padding:0;
  opacity: 1.0;
}

.bafDijitPair.bafDijitPairMinor p {
  margin:0;
  border:0;
  padding:0;
  opacity: 1.0;
}

div.crf {
  position:absolute;
  background-color:white;
  overflow:auto;
}
div.title {
  position:absolute;
  border-bottom: 2px solid grey;
  background-color:#F0F0F0;
  font-size: 120%;
}
p.title {
  font-size: 200%;
}
.readOnlyData {
  position:absolute;
  margin: 0;
  padding: 0;

}
div.readOnlyData.left {
  background-color:#F0F0F0;
}
div.readOnlyData.right  {
  background-color:yellow;
}
div.group {
  position:absolute;
  border: 2px solid grey;
  background-color:#F0F0F0;
  font-size: 120%;        
}
.inputText {
  position:absolute;
  background-color:white;
}
.inputRadio {
  position:absolute;
}
.inputTextLabel {
  position:absolute;
  font-size: 90%;
  margin:0;
  padding:0;
}
